@font-face {
font-family: 'texgyreadventor-bold';
  src: url('./fonts/texgyreadventor-bold.otf') format('opentype');
}

@font-face {
font-family: 'texgyreadventor-Regular';
  src: url('./fonts/texgyreadventor-regular.otf') format('opentype');
}

@font-face {
font-family: 'FreestyleScriptStd';
  src: url('./fonts/FreestyleScriptStd.otf') format('opentype');
}

