// 色
$mainYellow: #FFEC00;
$subBlack: #111;
$whiteBlue: #F0F5F7;

$primaryBlack: #000;
$primaryWhite: #fff;

// ボタンサイズ
$btn_black_height:  4.8vw;
$btn_border_height: 4.1vw;
$btn_gray_height:   4.5vw;
$btn_yellow_height: 4.1vw;

// フォントサイズ
// デフォルト
$fontSize: 16;
// ボタンフォントサイズ
$fsBtnBlack:   18;
$fsBtnBorder:  20;
$fsBtnGray:    18;
$fsBtnYellow:  24;
// その他: プレフィックスfsをつける
$fsWelcomeCopy: 65;
$fsTitleBoxLogo: 65;
$fsTitleBoxCopy: 26;
$fsHeaderBottomLeft: 30;
$fsHeaderBottomRightSub: 20;
$fsUpperContentTitle: 60;
$fsThumbTitle: 16;
$fsThumbBody: 16;
$fsBottomContent: 50;
$fsRegistration: 18;
$fsFooter: 12;

// レイアウト
$layout_width: 100%;

// ボトムコンテンツ
$bottom-content_height: 540px;

// フッター
$footer-height: 110px;
