// 色
$yellow: #FFEC00;
$gray: #F0F5F7;

// ボタンサイズ
$btn_black_width:   315px;
$btn_black_height:  70px;

$btn_border_width:  183px;
$btn_border_height: 60px;

$btn_gray_width:    260px;
$btn_gray_height:   65px;

$btn_yellow_width:  240px;
$btn_yellow_height: 60px;

// レイアウト
$layout-width: 1440px;

// フッター
$footer-font-size: 12px;
$footer-height: 110px;
