// 色
$mainYellow: #FFEC00;
$subBlack: #111;
$whiteBlue: #F0F5F7;

// ボタンサイズ
$btn_black_p-size:   2.8vw;
$btn_black_height:  4.8vw;

$btn_border_p-size:  2.0vw;
$btn_border_height: 4.1vw;

$btn_gray_p-size:    7vw;
$btn_gray_height:   4.5vw;

$btn_yellow_p-size:  2.0vw;
$btn_yellow_height: 4.1vw;

// デフォルトフォントサイズ
$fontSize: 12px;

// レイアウト
$layout_width: 100%;

// ボトムコンテンツ
$bottom-content_height: 540px;

// フッター
$footer-font-size: 1vw;
$footer-height: 110px;
