.btn {
  display: inline-block;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: HKExplorerSharp-SemiBold;
  text-decoration: none;
  @include focus-opacity(0.8);
}

.btn--black {
  @include btn_size($fsBtnBlack, $hBtnBlack, 1);
  box-shadow: -4px -4px $mainYellow;
  background-color: $primaryBlack;
  color: $primaryWhite;
}

.btn--border {
  @include btn_size($fsBtnBorder, $btnHeight);
  border: 3px solid $primaryBlack;
  color: $subBlack;
}

.btn--gray {
  @include btn_size($fsBtnGray, $hBtnGray, 2);
  background-color: $whiteBlue;
  color: $subBlack;
}

.btn--yellow {
  @include btn_size($fsBtnYellow, $btnHeight);
  background-color: $mainYellow;
  color: $subBlack;
  font-family: 'Raleway', sans-serif;
}
