.btn {
  display: inline-block;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: HKExplorerSharp-SemiBold;
  text-decoration: none;
  @include focus-opacity(0.8);
}

.btn--black {
  @include btn-size($btn_black_width, $btn_black_height, $btn_black_height, 18px);
  box-shadow: -4px -4px $yellow;
  background-color: #000;
  color: #FFF;
}

.btn--border {
  @include btn-size($btn_border_width, $btn_border_height, $btn_border_height, 24px);
  border: 3px solid #000;
  color: #111;
}

.btn--gray {
  @include btn-size($btn_gray_width, $btn_gray_height, $btn_gray_height, 18px);
  background-color: #F0F5F7;
  color: #111;
}

.btn--yellow {
  @include btn-size($btn_yellow_width, $btn_yellow_height, $btn_yellow_height, 24px);
  background-color: $yellow;
  color: #111;
}

