.footer {
  min-width: $layout-width;
  background-color: $yellow;
  @include font-type($footer-font-size, #111, 'bold');

  &__wrapper {
    min-height: $footer-height;
    width: 100vw;
    margin: 0 auto;
    color: #000;
    @include clearfix();
  }

  &__nav {
    float: left;
    max-width: 60vw;
    margin-left: 10vw;
  }

  .nav {
    @include clearfix();

    &__item {
      float: left;

      &_link {
        padding: 0 15px;
        display: block;
        @include reset_anchor();
        @include one_line_middle($footer-height);
        @include focus-color(#000, #fff);
      }
    }
  }

  &__copy {
    float: right;
    min-width: 20vw;
    margin-right: 10vw;
    @include one_line_middle($footer-height);
  }
}
