.header {
  height: 100vh;
  background-color: $gray;

  &__wrapper {
    position: relative;
    height: 100%;

    &__title-box {
      position: absolute;
      top: 17vw;
      left: 10vw;
      width: 30vw;
    }

    &__nav {
      background-color: #fff;
      position: absolute;
      bottom: -115px;
      left: 0;
      right: 0;
      margin: auto;
      width: 76vw;
    }
  }
}

.header .btns {
  margin-top: 15px;
  @include clearfix;

  .btn {
    float: left;
    margin-bottom: 10px;
  }

  .btn:not(:first-child) {
    margin-left: 30px;
  }
}
