.header {
  background-color: $whiteBlue;

  &__wrapper {
    position: relative;
    height: 70vw;

    &__title-box {
      position: absolute;
      top: 17vw;
      left: 10vw;
    }

    &__nav {
      background-color: $primaryWhite;
      position: absolute;
      bottom: -115px;
      left: 0;
      right: 0;
      margin: auto;
      width: 1100px;
      @media screen and (max-width: 1200px) {
        width: 91.7vw;
      }
    }
  }
}

.header__bottom {
  .welcome-copy {
    position: relative;
    top: -1.8vw;
    left: -1.8vw;
    display: inline-block;
    @include font_type($fsWelcomeCopy, $mainYellow, normal);
    font-family: 'Kaushan Script', cursive;
  }

  .registration-btn {
    float: right;
    padding: 20px;
    @include font_type($fsRegistration, $subBlack, bold);

    a {
      @include reset_anchor;
    }

    img {
      height: 1.3vw;
      position: relative;
      top: 3px;
    }
  }

  .nav {
    @include clearfix();
    padding: 40px;

    &__left-box {
      float: left;
      @include font_type($fsHeaderBottomLeft, $subBlack, bold);
      line-height: 1.2;
      font-family: 'Raleway', sans-serif;
    }

    &__right-box {
      float: right;
      @include clearfix();

      &__sub-text {
        @include font_type($fsHeaderBottomRightSub, #D3D3D3, bold);
      }
    }
  }
}

.header-bg {
  position: absolute;
  top: 7.7vw;
  right: 10vw;

  &__box {
    position: relative;

    &__img {
      width: 64vw;
      box-shadow: -10px -10px $mainYellow;
    }

    &__arrow-left, &__arrow-right {
      position: absolute;
      top: 50%;
      width: 3%;
    }

    &__arrow-left {
      left: 40px;
    }

    &__arrow-right {
      right: 40px;
    }

    &__copy {
      position: absolute;
      bottom: 0;
      padding: 20px;
      background-color: rgba(0,0,0,0.2);
      @include font_type($fsHeaderImgCopy, $primaryWhite, 800);
      text-shadow: 0 1px 1px rgba($primaryBlack, 0.7);

      &--sub {
        font-weight: 100;
      }
    }
  }
}

.header .btns {
  margin-top: 15px;
  @include clearfix();

  .btn {
    float: left;
    margin-bottom: 10px;
  }

  .btn:not(:first-child) {
    margin-left: 30px;
  }
}
