.header-bg {
  position: absolute;
  top: 7.7vw;
  right: 10vw;

  &__box {
    position: relative;

    &__img {
      width: 64vw;
      box-shadow: -10px -10px $mainYellow;
    }

    &__arrow-left, &__arrow-right {
      position: absolute;
      top: 50%;
      width: 3%;
    }

    &__arrow-left {
      left: 40px;
    }

    &__arrow-right {
      right: 40px;
    }
  }
}
