.header__bottom {
  .welcome-copy {
    position: relative;
    top: -1.8vw;
    left: -1.8vw;
    display: inline-block;
    @include font-type($fsWelcomeCopy, $mainYellow, normal);
    font-family: 'Kaushan Script', cursive;
  }

  .registration-btn {
    float: right;
    padding: 20px;
    @include font-type($fsRegistration, $subBlack, bold);

    a {
      @include reset_anchor;
    }

    img {
      height: 1.3vw;
      position: relative;
      top: 3px;
    }
  }

  .nav {
    padding: 40px;
    @include clearfix;

    &__left-box {
      float: left;
      @include font-type($fsHeaderBottomLeft, $subBlack, bold);
      line-height: 1.2;
      font-family: 'Raleway', sans-serif;
    }

    &__right-box {
      float: right;
      @include clearfix;

      &__sub-text {
        @include font-type($fsHeaderBottomRightSub, #D3D3D3, bold);
      }
    }
  }
}
