.upper-content {
  padding-top: 115px;

  &__title {
    padding-top: 80px;
    @include one_line_middle(60px);
    @include font-type(60px, #000, bold);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-shadow: -4px -4px $yellow;
  }

  &__items {
    padding-top: 80px;
  }

  &__button {
    padding-top: 70px;
    text-align: center;
  }
}

