.upper-content {
  padding-top: 115px;

  &__title {
    padding-top: 80px;
    font-size: 60px;
    @include one_line_middle(60px);
    text-align: center;
    text-shadow: -4px -4px $yellow;
  }

  &__items {
    padding-top: 80px;

    img {
      width: 24vw;
    }
  }

  &__button {
    padding-top: 70px;
    text-align: center;
  }
}
