.upper-content {
  padding-top: 115px;
  margin: 0 auto;
  max-width: 1440px;

  &__title {
    padding-top: 80px;
    @include one_line_middle(60px);
    @include font-type(60px, $primaryBlack, bold);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-shadow: -4px -4px $mainYellow;
  }

  &__items {
    padding-top: 80px;
  }

  &__button {
    padding-top: 70px;
    text-align: center;
  }
}

