@mixin btn_size($size, $height, $prefix:normal) {
  $paddingSize: $height * 0.5 + px;
  @if ($prefix != normal) {
    $paddingSize: $height * $prefix + px;
  }
  $height: $height + px;

  // font-size: $size;
  @include fontsize($size);
  padding:      0 $paddingSize;
  height: $height;
  line-height:  $height;
}
