@font-face {
  font-family: 'LigatureSymbols';
  src: url('../fonts/LigatureSymbols-2.11.eot');
  src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
       url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
       url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  src: url('../fonts/LigatureSymbols-2.11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf, .lsf-icon:before {
  -webkit-text-rendering: optimizeLegibility;
     -moz-text-rendering: optimizeLegibility;
      -ms-text-rendering: optimizeLegibility;
       -o-text-rendering: optimizeLegibility;
          text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
          font-family: 'LigatureSymbols';
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

html, body {
  height: 100%;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
          display: flex;
          font-size: 15px;
          background-color: hsla(31,15%,50%,.1)
}

main {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: center;
}

.container {
  -webkit-box-flex: 0;
          display: block;
          flex: none;
          max-width: 40%;
          min-width: 40%;
          background-color: hsla(31,15%,50%,.1);
          color: #242424;
  -moz-box-shadow:0px 1px 1px 1px #e3e3e3;
  -webkit-box-shadow:0px 1px 1px 1px #e3e3e3;
          box-shadow:0px 1px 1px 1px #e3e3e3;
}

.main-header {
  padding: 5px 0;
}

.filter {
  width: 100%;
}

.filter__items {
  width: 100%;
  margin: 0;
  padding: 0;
}

.filter__item {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 2.5rem;
  text-align: center;
}

.filter__item.current {
  border-bottom: 2px solid #2FB60D;
  background-color: #F9F9F9;
}

.filter__item a {
  text-decoration: none;
  display: block;
}

.filter__item a:visited {
  color: inherit;
}

.tweet-input {
  width: 100%;
  padding: 0 10px;
}

.tweet-input__textarea {
  width: 100%;
  background-color: #FFF;
  height: 50px;
  outline: none;
  padding: 5px;
}

.tweet-input__submit {
  width: 90px;
  height: 40px;
  margin: 0 0 5px;
  float: right;
  background-color: #FFF;
  -webkit-border-radius: 3px;
          border-radius: 3px;

}

.main-header .logo {
  text-align: center;
}

.logo {
  font-size: 0.9rem;
  font-weight: lighter;
  margin: 0;
}

.tweets {
  min-height: 300px;
  max-height: 300px;
  margin: 0px;
  background-color: hsla(31,15%,50%,.1);
  padding: 5px 10px;
  overflow: scroll;
}

.tweet {
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 10px;
}

.profile {

}

.user {
  font-size: 0.7rem;
}

.user .user-icon {
  margin-right: 5px;
}

.user-icon {
  font-size: 1rem;
}

.tweet__body {
  font-size: 1.2rem;
}

.tweet p {
  margin: 0;
}

.tweet a {
  font-size: 0.7rem;
  cursor: pointer;
}

.favorite:before {
  color: #B6AF00;
}
